HIH2/lolschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Esport">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ligi">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="liga">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="information">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="links">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="link">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="source" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="nazwa" type="xs:string" />
                          <xs:element maxOccurs="unbounded" name="zwyciezca">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="ilosc_tytulow" type="xs:unsignedByte" use="optional" />
                                  <xs:attribute name="sezon" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="MVP">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="sezon" type="xs:string" use="required" />
                                  <xs:attribute name="narodowosc" type="xs:string" use="required" />
                                  <xs:attribute name="druzyna" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="organizator" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="kraj" type="xs:string" use="optional" />
                  <xs:attribute name="region" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="typ" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="turnieje">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="turniej">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nazwa" type="xs:string" />
                    <xs:element minOccurs="0" name="tekst">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="jezyk" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="media">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="image">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="source" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="typ" type="xs:string" use="required" />
                  <xs:attribute name="lokalizacja" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zrodla">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="link">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="source" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>